caffe
__pycache__
*.h5
*.caffemodel
*.solverstate
*.log
*.pyc
*.npy
*.binaryproto
irnet-0.prototxt
irnet-1.prototxt
irnet-2.prototxt
solver-0.prototxt
solver-1.prototxt
solver-2.prototxt
test-0.txt
test-1.txt
test-2.txt
train-0.txt
train-1.txt
train-2.txt
lenet-0.prototxt
lenet-1.prototxt
lenet-2.prototxt
lenet-solver-0.prototxt
lenet-solver-1.prototxt
lenet-solver-2.prototxt

